@import url("TrueType/SFTransRoboticsCondensed-Oblique.ttf");
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 8rem;
  color: aliceblue;
  /* background: linear-gradient(to bottom right, #252525, #11f1ff); */
  font-family: "SFTransRoboticsCondensed-Oblique";
  margin: auto;
  background: #0575e6;
  background: -webkit-linear-gradient(to right, #0575e6, #021b79);
  background: linear-gradient(to right, #0575e6, #021b79);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background-color: rgb(255, 255, 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.wave:nth-of-type(2){
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}
.wave:nth-of-type(3){
  bottom: -2.5em;
  animation: wave 20s -1s linear reverse infinite;
  opacity: 0.9;
}
@keyframes wave{
  2%{
    transform: translateX(1);
  }
  25%{
    transform: translateX(-25%);
  }
  50%{
    transform: translateX(-50%);
  }
  75%{
    transform: translateX(-25%);
  }
  100%{
    transform: translateX(1);
  }
}
.navbar .box {
  position: relative;
  background: #000000;
  width: 60px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}
.navbar .box::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 300px;
  background: linear-gradient(to bottom right, #ffffff, #ffffff);
  animation: animate 4s linear infinite;
}
.navbar .box::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(to bottom right, #252525, #18484b);
  border-radius: 7px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar .box span {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 1000;
  /* background: green; */
  width: 100%;
}
